.header {
  position: relative;
  width: 100%;
}
.header-top {
  transition: height 0.3s ease, opacity 0.3s ease;
}
.header-top.hidden {
  height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
}
.header-main {
  position: relative;
  transition: all 0.3s ease;
  background-image: url(../img/nền/bg-page-title.jpg);
  background-position: top;
}
.header-main.no-bg {
  background-image: none; /* Xóa ảnh nền khi thêm lớp này */
}
.header-main.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}
.section-one .content {
  background-image: url(../img/nền/bg-page-title.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 60px 0;
  color: var(--color-five);
  font-family: var(--font2);
}
.section-one .content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; /* Màu lớp phủ */
  opacity: 0.7; /* Độ mờ của lớp phủ, bạn có thể điều chỉnh theo ý muốn */
  z-index: 1;
}
.section-one .content > * {
  position: relative;
  z-index: 2;
}
.section-one .shop-info {
  font-family: var(--font3);
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 4px;
  color: #4caf50;
}
.section-one .title {
  font-size: 46px;
  font-family: var(--font1);
  letter-spacing: 3px;
  font-weight: 600;
  color: #7cb342;
}
.pagination-container .button-2 {
  padding: 6px 12px;
  font-size: 16px;
  color: var(--color-two);
}
/* Định dạng chung cho các nút số trang */
#paginationNumbers .btn {
  border: 2px solid var(--color-four);
  padding: 6px 16px;
  font-size: 18px;
  font-weight: 600;
  color: var(--color-two);
  margin-right: 30px;
  border-radius: 12px;
  transition: background-color 0.5s ease-out;
}

/* Đổi màu khi di chuột qua các nút */
#paginationNumbers .btn:hover {
  background-color: #e0e0e0; /* Màu nền khi di chuột */
  color: white;
  background-color: var(--color-three);
  border: 2px solid var(--color-three);
}

/* Đổi màu cho nút trang hiện tại */
#paginationNumbers .btn.active {
  background-color: var(--color-four); /* Màu nền cho nút trang hiện tại */
  color: var(--color-five); /* Màu chữ cho nút trang hiện tại */
}

/* trang tri deco  */
.section-two {
  position: relative;
}
.inner-deco {
  opacity: 0.2;
}
.inner-deco .decco1 {
  position: absolute;
  transform: rotate(-35deg);
  right: 22%;
}
.inner-deco .decco2 {
  position: absolute;
  transform: rotate(-20deg);
  right: 31%;
}
.inner-deco .decco3 {
  position: absolute;
  transform: rotate(10deg);
  left: 13%;
  top: 17%;
}
.inner-deco .decco4 {
  position: absolute;
  transform: rotate(-20deg);
  right: 14%;
  top: 20%;
}
.inner-deco .decco5 {
  position: absolute;
  transform: rotate(-20deg);
  right: 18%;
  top: 2%;
}
.inner-deco .decco6 {
  position: absolute;
  left: 18%;
  top: 1%;
  width: 70px;
}
.inner-deco .decco7 {
  position: absolute;
  right: 9%;
  top: 8%;
}
.inner-deco .decco8 {
  position: absolute;
  transform: rotate(-25deg);
  left: 10%;
  top: 45%;
}
.inner-deco .decco9 {
  position: absolute;
  transform: rotate(25deg);
  left: 28%;
  top: 28%;
}
.inner-deco .decco10 {
  position: absolute;
  top: 45%;
  left: 48%;
}
.inner-deco .decco11 {
  position: absolute;
  right: 3%;
  top: 48%;
  transform: rotate(-30deg);
}
.inner-deco .decco12 {
  position: absolute;
  left: 34%;
  bottom: 2%;
  transform: rotate(30deg);
}
.inner-deco .decco13 {
  position: absolute;
  bottom: 33%;
  left: 33%;
  width: 60px;
}
.inner-deco .decco14 {
  position: absolute;
  top: 12%;
  left: 8%;
  transform: rotate(-30deg);
}
.inner-deco .decco15 {
  position: absolute;
  right: 0;
  top: 28%;
}
.inner-deco .decco16 {
  position: absolute;
  left: 4%;
  top: 33%;
}
.inner-deco .decco17 {
  position: absolute;
  top: 31%;
  left: 48%;
}
.inner-deco .decco18 {
  position: absolute;
  top: 60%;
  right: 30%;
}
.inner-deco .decco19 {
  position: absolute;
  bottom: 2%;
  left: 14%;
  transform: rotate(-30deg);
}
.inner-deco .decco20 {
  position: absolute;
  top: 70%;
  right: 11.2%;
  transform: rotate(-15deg);
}
.inner-deco .decco21 {
  position: absolute;
  top: 40%;
  left: 45%;
  transform: rotate(15deg);
  z-index: 0;
}
.inner-deco .decco22 {
  position: absolute;
  top: -2%;
  right: 2%;
  transform: rotate(20deg);
}
.inner-deco .decco23 {
  position: absolute;
  bottom: 0;
  right: 13%;
  width: 150px;
}
.inner-deco .decco24 {
  position: absolute;
  top: 65%;
  left: 3%;
}
.inner-deco .decco25 {
  position: absolute;
  right: 40%;
  top: -1%;
}
.inner-deco .decco26 {
  position: absolute;
  width: 100px;
  top: 2%;
  left: 5%;
  transform: rotate(30deg);
}
.inner-deco .decco27 {
  position: absolute;
  top: 28%;
  right: 31%;
  transform: rotate(-20deg);
}
.inner-deco .decco28 {
  position: absolute;
  bottom: 8%;
  right: 4%;
  opacity: 0.6;
}
.inner-deco .decco29 {
  position: absolute;
  bottom: 1%;
  right: 28%;
}
.inner-deco .decco30 {
  position: absolute;
  top: -5%;
  left: 36%;
  opacity: 0.7;
}
/* End trang tri deco  */
