.container {
    font-family: var(--font2);
}
.checkout-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
    padding: 40px 0;
}
.billing-details{
    position: relative;
    opacity: 0.85;
}
.billing-details, .order-summary {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.billing-details {
    width: 60%;
}

.order-summary {
    width: 35%;
    position: relative;
    opacity: 0.9;
}

h2 {
    font-size: 24px;
    color: var(--color-two);
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
    display: block;
}

input[type="text"], input[type="email"], input[type="number"], select, textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid var(--color-two);
    padding: 10px;
    text-align: left;
}

th, td {
    font-weight: 500;
}

tfoot th {  
    font-weight: bold;
}

.payment-methods{
    font-family: var(--font2);
    font-weight: 600;
    margin-top: 10px;
    color: var(--color-two);
}

.payment-methods div {
    margin-top: 10px;
    color: #202020;
}

.place-order-btn {
    width: 100%;
    padding: 10px;
    background-color: var(--color-three);
    color: var(--color-five);
    border: none;
    border-radius: 4px;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
}

.order-message {
    margin-top: 15px;
    font-size: 14px;
    color: green;
}

.order-message.error {
    color: red;
}
