.tin-tuc .content{
    padding: 0;
}
.tin-tuc .title{
    padding: 10px 5px;
}
.tin-tuc .content{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #C5D3E8;
    border-top: 0;
}
.title-main{
    text-align: center;
}
.tin-tuc .box-blog .blog-img {
    height: 160px;
    width: 100%;
}
.tin-tuc .box-blog .blog-img img{
    width: 100%;
    height: 160px;
    object-fit: cover;
}
.tin-tuc .box-blog .date-blog{
    font-size: 12px;
}
.tin-tuc .box .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    height: 150px; /* Chiều cao cố định cho phần content */
}

/* Giới hạn chiều cao tiêu đề với 2 dòng */
.tin-tuc .box .content .title {
    font-size: 18px;
    font-weight: bold;
    color: #010148;
    overflow: hidden;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* Định dạng cho nút "Tìm hiểu" */
.tin-tuc .box .content .button-2 {
    align-self: flex-start;
    padding: 5px 10px;
    font-size: 14px;
    color: #28a745;
    background-color: transparent;
    border: 1px solid #28a745;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.tin-tuc .box .content .button-2:hover {
    background-color: #28a745;
    color: #fff;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-button {
    margin: 0 5px;
    padding: 5px 15px;
    border: 1px solid #28a745;
    background-color: #fff;
    color: #28a745;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.page-button.active, .page-button:hover {
    background-color: #28a745;
    color: #fff;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .tin-tuc .box .blog-img {
        height: 150px; /* Giảm chiều cao ảnh trên màn hình nhỏ */
    }

    .tin-tuc .box .content .title {
        font-size: 14px; /* Giảm kích thước font cho màn hình nhỏ */
    }
}

