.ban-chay {
  padding: 50px 0;
  position: relative;
}
.ban-chay .titlee {
  padding: 30px 0;
  text-align: center;
  position: relative;
}
.ban-chay .titlee .shape {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ban-chay .titlee .titlee-main {
  font-family: var(--font2);
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #010148;
}
.ban-chay .titlee .titlee-main span {
  color: var(--color-three);
}
.ban-chay .titlee .titlee-sub {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 500;
  font-family: var(--font2);
}
.ban-chay .title-hoa-qua {
  font-family: var(--font2);
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #010148;
}
.ban-chay .title-hoa-qua .hq {
  color: #e7ac36;
}
.ban-chay .title-hoa-qua .rc {
  color: var(--color-four);
}
.ban-chay .title-hoa-qua .hs {
  color: #9b653b;
}
.ban-chay .title-hoa-qua .hc {
  color: var(--color-one);
}
.ban-chay .hoa-qua .descr,
.ban-chay .rau-cu .descr,
.ban-chay .hat-say .descr,
.ban-chay .huu-co .descr {
  width: 100%;
  padding: 0 5px;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font2);
}
.ban-chay .hoa-qua .box,
.ban-chay .rau-cu .box,
.ban-chay .hat-say .box,
.ban-chay .huu-co .box {
  padding-right: 30px;
  padding-left: 0;
}
.ban-chay .title-hoaqua,
.ban-chay .title-rau-cu,
.ban-chay .title-hat-say,
.ban-chay .title-huu-co{
    position: relative;
}

.ban-chay .hoa-qua .shape,
.ban-chay .rau-cu .shape,
.ban-chay .hat-say .shape,
.ban-chay .huu-co .shape {
  position: absolute;
  opacity: 0.6;
  width: 35%;
  top: 32%;
  left: 15%;
  transform: translate(-50%, -50%);
}
.inner-deco .decco25{
  top: 10%;
  right: 30%;
  width: 250px;
}
.inner-deco .decco30{
  top: 2%;
  left: 32%;
}